* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  

  html, body {
    height: 100%; /* Make sure the body takes full height */
}  

body {
    display: grid;
    grid-template-columns: 1fr, 5fr, 1fr;
}
/*-------------------------Header---------------------------*/
#header {
    grid-column: 2 / 5;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#searchbar img {
    width: 5%;
    height: auto;
}

#user {
    margin-left: 10%;
    display: flex;
    align-items: center;
}

#user svg {
    width: 100%; /* Set your desired width */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
}



.avatar{
    width: 100px; /* Set the size of the container */
    height: 100px; /* Make it square to maintain aspect ratio for circular effect */
    border-radius: 50%; /* Make the container circular */
    background-color: #f0f0f0; /* Background color of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide any overflow content beyond the circle */
}

#navbar {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#searchbar {
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
}

#searchbar input[type="text"] {
    width: 80%;
    background-color: #e2e8f0;
    height: 30px;
    border-radius: 25px;
}

#userInfo {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: larger;
    font-weight: bold;
}

#userInfo .avatar{
    width: 50px;
    height: 50px;
}
#userInfo img {
    width: 5%;
    height: auto;
}

#hello > p{
font-size: 1rem;
font-weight: bold;
}

#userName > p {
font-size: 2rem;
font-weight: bold;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    background-color: #1992d4;
    border-color:  #1992d4;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 120px;
    font-size: 1.5rem;

}

#userButtons {
    grid-column:  2 / 3;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
/* ----------------------Sidebar------------------------ */
#sidebar {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

#sidebar > div {
    display: flex;
    align-items: center;  
    justify-content: flex-start; 
    text-align: center; 
    padding: 10px; 
    padding-left: 10%;
}

#sidebar #dashboard img {
    width: 20%;
    height: auto;
    padding-right: 2%;
}

#dashboard {
    font-size: 2.5rem;
}
#sidebar img {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
    width: 10%;
    height: auto;
    padding-right: 2%;

}

#home, #settings {
    margin-top: 15%;
}

/*------------------*/
#contentWrapper {
    grid-column: 2 / 4;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e2e8f0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    column-gap: 2%;
}
#projects {
    background-color: #e2e8f0;
}

#projectsWrapper {
    grid-column: 1 / 2;

  }

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 25px;
}

  #projects p {
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    text-align: left;
  }
  
  #projects .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
    width: 450px;
                /* Left border with color */
                border-left: 1rem solid #f0be48;
                /* Rounded corners */
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
    padding: 5%;            
  }

  .title {
    font-weight: bold;
  }

  .cardIcons img {
    width: 10%;
    filter: invert(89%) sepia(6%) saturate(1126%) hue-rotate(180deg) brightness(90%) contrast(95%);

  }

  .cardIcons {
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    align-items: center;
  }

/*---------------Right Bar -------------*/
#rightBar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-right: 5%;
}
  
/* --------------Announcements -----------*/
#announcementsWrapper {
    grid-column: 2 / 3;
}
#announcements {
    background-color: white;
}

.announcement {
 padding: 5%;
 box-shadow: 0 10px 6px -4px rgba(56, 56, 56, 0.1); /* Adjust the blur, spread, and opacity as needed */
}

.announcementTitle {
    font-weight: bold;
    font-size: large;
}

/* --------------Trending -----------*/
    
#trending {
    grid-column: 2 / 3;
}

.heading {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2%;
}

#trendingBox {
    background-color: white;
    padding: 5%;
 
}

.trend .avatar {
    width: 75px;
    height: 75px;
}
#contentWrapper {
    grid-column: 2 / 4;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e2e8f0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    column-gap: 2%;
}

.trend {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.handle {
    font-weight: bold;
}

.handleName {
    font-weight: light;
}